.Card {
	height: 280px;
	width: 280px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.CardLink {
	text-decoration: none;
}

.Card:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.CardImage {
	max-width: 100%;
	max-height: 80%;
}

.TitleContainer {
	background: #030b16;
	color: white;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
